<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {{include '../layouts/layoutHead.html' }}
  <link rel="stylesheet" href="/myCss/post.css">
  
</head>
<body>
  <header class="visible-xs-block"></header>

  <div class="Mycontainer row">
      <div class="banner-box 
                  col-md-2 col-md-offset-1
                  col-sm-12
                  col-xs-12
      ">
          <div class="avator">
              <img src="..." alt="...">
          </div>
          <div>
              <ol class="breadcrumb">
                  <a href="/">Home</a>
                  <span> / </span>
                  <a href="#">Library</a>
              </ol>
          </div>
          <div id="my-connect">
              <span><img src="/source/qq.png" alt=""></span>
              <span><img src="/source/github.png" alt=""></span>
              <span><img src="/source/email.png" alt=""></span>
          </div>
      </div>

      <article class="col-md-7 col-md-offset-1
                      col-sm-12 
                      col-xs-12">
          <div id="article-body">
              
          </div>
      </article>
  </div>
</body>
</html>