header {
  height: 40px;
  background-color: #00c3a4;
  font-size: 3rem;
  line-height: 40px;
  text-align: center;
  color: white;
}
#content {
  min-height: 300px;
  max-width: 900px;
  display: block;
  margin: 0 auto;
  top: 300px;
}
#content .option {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content thead th,
#content tr {
  text-align: center;
}
.btn a {
  color: white;
}
#add .btn {
  width: 100px;
  height: 30px;
  background: #00c3a4;
  padding: 0;
  line-height: 30px;
}
#add .btn a {
  color: white;
  height: 100%;
  width: 100%;
  display: inline-block;
}
.back-bome a {
  color: #2bbc8a;
  display: inline-block;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  background: none ;
}
.back-bome:hover a {
  background-image: none;
}
.back-bome a {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent 5px, #c9cacc 5px, #c9cacc);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}
.back-bome a:hover {
  background-image: linear-gradient(transparent, transparent 4px, #2de64c 4px, #2de64c);
}
