* {
    margin:0;
    padding: 0;
    // box-sizing: border-box;
}

@font-face {
    font-family: 'Menlo';
    src: url('./Menlo/Menlo-Regular-1.ttf');
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Menlo", "Meslo LG", monospace;
}

#body {
    // 增加内容距离
    padding: 48px 10px;
    font-size: 18px;
    line-height: 1.725;
    height: auto;

    // 添加标题样式
    .h1 {
        display: block;
    }
    .h1 a{
        color: #2bbc8a;
        margin-top: 3rem;
        margin-bottom:1rem;
        display: inline-block;
        letter-spacing: .01em;
        font-weight: 700;
        font-style: normal;
        font-size: .8em;
        background: none ;
    }
    .h1:hover a {
        background-image: none;
    }

    //列表 a 标签样式
    a {
        color: black;
        text-decoration: none;
        background-image: linear-gradient(transparent, transparent 5px, #c9cacc 5px, #c9cacc);
        // background-image: linear-gradient(transparent, transparent 5px, #2de64c 5px, #c9cacc);
        background-position: bottom;
        background-size: 100% 6px;
        background-repeat: repeat-x;
    }
    a:hover {
        // background-image: linear-gradient(transparent, transparent 4px, #d480aa 4px, #d480aa);
        background-image: linear-gradient(transparent, transparent 4px, #2de64c 4px, #2de64c);
    }

    #header {
        margin:0 auto 2rem;
        width: 100%;
        height: auto;
        // background-color: salmon;
        a {
            background:none;
            text-decoration: none;
            color: inherit;
            // display: inline-block;
        }
        #logo {
            display: inline-block;
            margin-right: 24px;
            width: 124px;
            height: 124px;
            float: left;
            // background-color: brown;
            // border-radius: 5px;
            background-repeat:no-repeat;
        }
        #tittle {
            font-size: 3.2rem;
            color: black;
            font-weight: bolder;
            // background: yellowgreen;
        }
        #mynav {
            // background: orange;
            color: #2bbc8a;
            letter-spacing: 0.01em;
            font-weight: 200;
            font-style: normal;
            font-size: 0.8rem;
            height: 100%;
            margin-top: 30px;
        }
        #mynav ul {
            margin: 0;
            padding:0;
            list-style-type: none;
            line-height: 20px;
            display: flex;

            li {
                border-right: 1.8px dotted #2bbc8a;
                height: auto;
                display: inline-block;
                a {
                    // display: inline-block;
                    font-size: 3.24em;
                    line-height: 100%;
                    margin-right: 15px;
                    margin-left: 15px;
                    color:#2bbc8a;
                }
                a:hover {
                    background-image: linear-gradient(transparent, transparent 5px, #2bbc8a 5px, #2bbc8a);
                    background-position: bottom;
                    background-size: 100% 6px;
                    background-repeat: repeat-x;
                }
            }
            li:first-child  a {
                margin-left: 0;
            }
            li:last-child {
                margin-right: 0;
                border-right: 0;
                a {
                    margin-right: 0;
                }
            }

        }
    }

    // 清除logo float 浮动导致的不能撑开header的问题. 不想多写div , 用after伪类
    #header::after {
        clear:both;
        content: "";
        display: block;
        height: 0;
        width: 0;
        visibility: hidden;
    }

    #writing {
        width: 100%;
        .post-list {
            padding: 0;
        }
        .post-item {
            display: flex;
            align-items: center;
            margin-bottom: .7rem;
            margin-left: 0;
            overflow: hidden;
            .meta {
                margin-right: 16px;
                min-width: 100px;
                color: #666;
                font-size: 1.7rem;
            }
            span {
                display: block;
                a {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    #projects {
        width:100%;
        .project-list {
            padding: 0;
            list-style: none;
            .project-item {
                margin-bottom: 5px;
                p {
                    display: inline;
                }
            }   
        }
    }
}


@media screen and (max-width: 768px) {
    #body {
        #header {
            #logo {
                height: 15vw;
                width: 15vw;
                margin-top: 10px;
            }
            #tittle {
                padding-top: 2rem;
                padding-bottom: 1rem;
                font-size: 2.3rem;
                display: inline-block;
                
            }
            #mynav {
                width: 90vw;
                overflow-y: scroll;
                font-size: .9rem;
                transition: all 2s ease-in-out;
            }
            .nav-open {
                display: block !important;
            }
            #mynav::-webkit-scrollbar {
                display: none
            }
            #r-menu {
                display: inline-block;
                position: relative;
                left: 10px;
                top: -5px;
            }
            .menu-btn {
                height: 50px;
                width: 50px;
                // bootstrap 实现 dom现实给添加 block important ,这里考虑兼容性
                display: flex !important;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background: #fff;
                // position: fixed;
                // right: 24px;
                // top: 24px;
                transition: all .5s ease;
                // border: 1px solid #ccc;
                .menu-burger { 
                    width: 30px;
                    height: 5px;
                    background-color: #2bbc8a;
                    box-shadow: 0 2px 5px rgba(177, 177, 177, 0.2);
                    transition: all .5s ease;
                    border-radius: 4px;
                }
                .menu-burger::after, .menu-burger::before {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 5px;
                    background:#2bbc8a;
                    box-shadow: 0 2px 5px rgba(177, 177, 177, 0.2);
                    border-radius: 4px;
                    transition: all .5s ease;
                }
                .menu-burger::before {
                    transform: translateY(-10px);
                }
                .menu-burger::after {
                    transform: translateY(10px);
                }


            }
            // amination
            .menu-btn.open .menu-burger {
                background-color: red;
                transform: translateX(50px);
                background: transparent;
                box-shadow: none;
            }
            .menu-btn.open .menu-burger::before {
                transform: rotate(-45deg) translate(-35px, -35px);
            }
            .menu-btn.open .menu-burger::after {
                transform: rotate(45deg) translate(-35px, 35px);
            }

        }

        #writing {
            .post-item {
                flex-direction: column;
                align-items: flex-start;
                span {
                    height: auto;
                    max-height: 10vh;
                    overflow:hidden;
                }
            }
        }
    }
}