#header-banner {
  min-height: 300px;
  height: 43vh;
  background-color: #282931;
  position: relative;
  background: url('/source/bannerBg.jpg') no-repeat;
  background-size: cover;
}
#header-banner .banner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 300px;
  min-width: 400px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header-banner .banner-box .avator {
  position: relative;
  height: 124px;
  width: 124px;
  background-color: coral;
  top: -24px;
  border-radius: 50%;
  overflow: hidden;
}
#header-banner .banner-box .breadcrumb {
  background-color: transparent;
  font-size: 3rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#header-banner .banner-box .breadcrumb span {
  text-align: center;
}
#header-banner .banner-box .breadcrumb a {
  color: white;
  position: relative;
  transition: all 0.5s ease;
  text-decoration: none;
}
#header-banner .banner-box .breadcrumb a:hover {
  transform: scale(1.24);
  color: #3f51b5;
}
#header-banner .banner-box #my-connect {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
#header-banner .banner-box span {
  display: inline-block;
  color: white;
  height: 48px;
  width: 48px;
}
#header-banner .banner-box span img {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
}
#header-banner .banner-box span img:hover {
  transform: scale(1.24);
}
