* {
  padding: 0;
  margin: 0;
}

.header-banner {
  height: 74vh;
  /* background-color: #2e4042; */
}

.Mycontianer {
  padding: 24px 0 24px 0;
}

.Mycontianer #left {
  min-height: 24px;
  height: auto;
  /* border: 1px solid salmon; */
}


.Mycontianer #right {
  min-height: 24px;
  height: auto;
  /* border: 1px solid saddlebrown; */
  padding: 10px;
}



