* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  background: #fff;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}
#header-banner {
  min-height: 400px;
  height: 670px;
  background-color: #282931;
  position: relative;
  background: url('index_bannerBg.jpg') no-repeat;
  background-size: cover;
}
#header-banner .banner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 300px;
  min-width: 400px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header-banner .banner-box .avator {
  position: relative;
  height: 124px;
  width: 124px;
  background-color: coral;
  top: -24px;
  border-radius: 50%;
  overflow: hidden;
}
#header-banner .banner-box .breadcrumb {
  background-color: transparent;
  font-size: 3rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#header-banner .banner-box .breadcrumb span {
  text-align: center;
}
#header-banner .banner-box .breadcrumb a {
  color: white;
  position: relative;
  transition: all 0.5s ease;
  text-decoration: none;
}
#header-banner .banner-box .breadcrumb a:hover {
  transform: scale(1.24);
  color: #3f51b5;
}
#header-banner .banner-box #my-connect {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
#header-banner .banner-box span {
  display: inline-block;
  color: white;
  height: 48px;
  width: 48px;
}
#header-banner .banner-box span img {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
}
#header-banner .banner-box span img:hover {
  transform: scale(1.24);
}
.Mycontainer {
  margin: 60px 0;
  display: block;
  height: 100%;
}
.Mycontainer #left {
  min-height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
}
.Mycontainer #left #myProfile div {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 1em;
  margin: 4px 0;
  height: 3rem;
  font-size: 2rem;
}
.Mycontainer #left #myProfile div span {
  padding: 0 24px;
}
.Mycontainer #left #myProfile div span:nth-child(1) {
  font-weight: bolder;
  text-align: right;
}
.Mycontainer #left #myProfile div span:nth-child(2) {
  color: gray;
  text-align: left;
}
.Mycontainer #right {
  min-height: 24px;
  height: auto;
  padding: 10px;
}
.Mycontainer .blog-card {
  min-height: 130px;
  height: auto;
  width: 98%;
  border-radius: 6px;
  overflow: hidden;
  margin: 10px 0 10px 0;
  padding: 10px;
}
.Mycontainer .blog-card h1 {
  margin: 0;
  margin-bottom: 3px;
  padding-bottom: 7px;
  display: inline-block;
  cursor: pointer;
  color: #212121;
  font-weight: bolder;
}
.Mycontainer .blog-card h1:hover {
  padding-bottom: 4px;
  border-bottom: 3px solid orange;
}
.Mycontainer .blog-card p {
  margin: 10px 0 10px 14px;
  min-height: 24px;
  max-height: 170px;
  overflow: hidden;
  padding: 4px;
  font-family: cursive;
  font-size: 1.7em;
}
.Mycontainer .blog-card span {
  left: 30%;
  width: 95%;
  height: 50px;
  display: flex;
  vertical-align: middle;
  justify-content: flex-end;
}
.Mycontainer .blog-card span .calender {
  vertical-align: middle;
  line-height: 100%;
}
.Mycontainer .blog-card span a.read-more {
  font-family: 'Josefin Sans';
  margin: 0 10px;
  right: 10px;
  font-size: 3rem;
  color: #ff9800;
}
