
#body #writing {
    width: 100%;
  }
  #body #writing .post-list {
    padding: 0;
  }
  #body #writing .post-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
    margin-left: 0;
    overflow: hidden;
  }
  #body #writing .post-item .meta {
    margin-right: 16px;
    min-width: 100px;
    color: #666;
    font-size: 1.7rem;
  }
  #body #writing .post-item span {
    display: block;
  }
  #body #writing .post-item span a {
    font-size: 2rem;
    width: 100%;
    height: 100%;
  }
  #body #projects {
    width: 100%;
  }
  #body #projects .project-list {
    padding: 0;
    list-style: none;
  }
  #body #projects .project-list .project-item {
    margin-bottom: 5px;
  }
  #body #projects .project-list .project-item p {
    display: inline;
  }
  

  @media screen and (max-width: 768px) {

    #body #writing .post-item {
        flex-direction: column;
        align-items: flex-start;
      }
      #body #writing .post-item span {
        height: auto;
        max-height: 10vh;
        overflow: hidden;
      }
  }