#body #post-content {
  margin-top: 60px;
  min-height: 424px;
  font-size: 18px;
}
#body #post-content .tittle {
  text-align: center;
  font-size: 4.24rem;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#body #post-content .tittle p {
  display: inline-block;
  padding-bottom: 4px;
  cursor: pointer;
}
#body #post-content .tittle p:hover {
  background-image: linear-gradient(transparent, transparent 5px, #2bbc8a 5px, #2bbc8a);
  background-position: bottom;
  background-size: 100% 7px;
  background-repeat: repeat-x;
}
#body #post-content .data {
  text-align: center;
  font-size: 1.8rem;
  color: #a1a1a1;
}
#body #post-content .content {
  padding: 2.3rem;
}




@media screen and (max-width: 768px) {
  #body #post-content {
    margin-top: 60px;
  }
  #body #post-content .tittle {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  #body #post-content .tittle p {
    display: inline-block;
    padding-bottom: 4px;
    cursor: pointer;
  }
  #body #post-content .tittle p:hover {
    background-image: linear-gradient(transparent, transparent 5px, #2bbc8a 5px, #2bbc8a);
    background-position: bottom;
    background-size: 100% 7px;
    background-repeat: repeat-x;
  }
  #body #post-content .data {
    text-align: center;
    font-size: 1.8rem;
    color: #a1a1a1;
  }
  #body #post-content .content {
    padding: 14px;
  }


}