{{extend './adminLayout.html'}}

{{block 'listPage'}}
mdui-list-item-active
{{/block}}




{{ block 'content'}}
<!-- 好畸形啊 -->

<link rel="stylesheet" href="/myCss/adminArticlesList.css">

<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-green"><a href="/admin/article/add">增加</a></button>

    {{if infos }}
        <div> info 创建成功</div>
    {{/if}}

    <table class="mdui-table" id="articles-box">
        <thead>
        <tr>
            <th>#</th>
            <th>title</th>
            <th>created</th>
            <th>options</th>
        </tr>
        </thead>
        <tbody>
            {{each data value}}
                <tr>
                    <td>{{$index}}</td>
                    <td>{{value.title}}</td>
                    <td>{{value.created}}</td>
                    <td>
                        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-orange-900"><a href="/admin/article/edit/{{ `${value._id}` }}">Edit</a></button>
                        <button class="mdui-btn mdui-btn-raised mdui-ripple delete-box" data-id="{{`${value._id}`}}">
                        <a class="mdui-icon material-icons" href="#">delete</a>
                        </button> 
                    </td>
                </tr>
            {{/each}}
        </tbody>
        {{ error }}
    </table>


{{/block}}


<style>
    /*这里设置样式没用。。*/
#articles-box {
    background: chocolate;
}

#articles-box td {
    text-align: center;
}
</style>