<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {{ include '../layouts/layoutHead.html' }}

</head>
<body>
    {{if errors }}
      <div> success login !</div>
    {{/if}}

    <div class="mdui-container">
        <form action="/admin/login" method="POST">
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">Username</label>
                <input class="mdui-textfield-input" type="text" />
              </div>
              <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">password</label>
                <input class="mdui-textfield-input" type="text" />
              </div>
              <button class="mdui-btn mdui-color-orange-300 mdui-ripple">button</button>
        </form>
      </div>
</body>

<script>

</script>
</html>