
<link rel="stylesheet" href="/myCss/head_banner.css">


<div id="header-banner">
  <div class="banner-box">
      <div class="avator">
          <img src="..." alt="...">
      </div>
      <div>
          <ol class="breadcrumb">
              <a href="#">Home</a>
              <span> / </span>
              <a href="#">Library</a>
          </ol>
      </div>
      <div id="my-connect">
          <span><img src="/source/qq.png" alt="912092417"></span>
          <span><img src="/source/github.png" alt=""></span>
          <span><img src="/source/email.png" alt="joshuaxin@163.com"></span>
      </div>
  </div>
</div>


