<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joshua blog</title>
    {{include '../layoutHead.html' }}
    <link rel="stylesheet" href="/myCss/homeLayout.css">
</head>
<body>
        <div class="clearfix visible-xs"></div>
        <div id="body" class="col-md-6 col-md-offset-3 col-xs-12">
            <header id="header"> 
                <a href="/admin/dashboard">
                    <img id="logo" src="/source/logo.jpg" alt="">
                </a>
                <div id="tittle">糯米粥和玉米羹</div>
                <div id="r-menu">
                    <div class="menu-btn visible-xs-block">
                        <div class="menu-burger"></div>
                    </div>
                </div>
    
                <div id="mynav" class="hidden-xs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <!-- <li><a href="#">Search</a></li> -->
                        <!-- <li><a href="#">Categories</a></li> -->
                    </ul>
                </div>
    
    
            
            </header>
    
            {{block 'content'}}
    
            {{/block}}
    
        </div>

        <footer id="footer" class="col-md-12 col-sx-12">
            <div>
                © 2021 Joshua. Powered by Node.js and Express
            </div>
        </footer>
    





</body>
<script>
    // menu 
    const menuBtn = document.querySelector('.menu-btn');
    let nav = document.querySelector('#mynav');
    let menuOpen = false;
    menuBtn.addEventListener('click', function(e) {
        if (!menuOpen) {
            menuBtn.classList.add('open');
            nav.classList.add('nav-open');
            // nav.style.cssText = "display: block !important;"
            menuOpen = true
        } else {
            menuBtn.classList.remove('open');
            nav.classList.remove('nav-open');
            // nav.style.cssText = "display: none !important;"
            menuOpen = false
        }
    })




</script>
</html>