<div class="mdui-container-fluid" id="banner_container">
    <div class="banner-title">
        <span >Message page</span>
        <span class="d-block">鸟不拉屎</span>
    </div>
</div>

<style>
    #banner_container {
        position: relative;
        height: calc(40vh - 120px) !important;
        background-color: salmon;
        text-align: center;
    }
    .banner-title {
        font-size: 1.8em;
        vertical-align: middle;
        position:absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
    .d-block {
        margin-top: 10px;
        display: block !important;
    }
</style>

