<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {{include '../layout/layoutHead.html' }}

    <link rel="stylesheet" href="/editormd/css/editormd.css">
    <link rel="stylesheet" href="/myCss/addArticle.css">
</head>
<body>
    <header>添加文章</header>
    <div id="tittle-box">
        <input type="string" class="form-control" id="tittle" placeholder="文章标题">
    </div>
    <div id="test-editor">
        <textarea style="display:none;"></textarea>
    </div>

    <div id="options">
        <button type="button" class="btn btn-danger"><a href="/admin/dashboard" class="back-home">Cancel</a></button>
        <button id="update" type="button" class="btn btn-success save">提交</button>
    </div>


</body>

<script src="/editormd/editormd.min.js"></script>
<script>

    $(function() {
        let editor = editormd("test-editor", {
            placeholder: '使用markdown语法写文章',
            width  : "80%",
            height : 640,
            path   : "/editormd/lib/",
            saveHTMLToTextarea: true,
            toolbarIcons : function() {
            // Or return editormd.toolbarModes[name]; // full, simple, mini
            // Using "||" set icons align right.
            return ["undo", "redo", "|", "bold", "hr", "|", "preview", "watch", "|", "fullscreen", "info", "testIcon", "testIcon2", "file", "faicon", "||", "watch", "fullscreen", "preview", "testIcon"]
            }
        });

        let BtnUpdate = $("#update");
        let Tittle = $('#tittle');
        $(BtnUpdate).on('click', function(e) {
            console.log('click')
            let data = {}
            data.tittle = $(Tittle).val()
            data.body_html = editor.getHTML();
            data.body_mk = editor.getMarkdown();
            $.ajax({
                type: 'POST',
                url: "/admin/create",
                data: data,
                success: function(res) {
                    alert('add success!!!')
                    window.location.href = res.url;
                },
                error: function(err) {
                    console.log(err)
                }
            })
        })
    });


    /*
    $("#CreateBtn").on("click", function(e) {
        let target = e.target
        console.log('CreateBtn click')
        let data = {}
        data.tittle = $("#tittle").val()
        data.body = $("#markdown").val()
        console.log('up data is >>>>', data)
        $.ajax({
            type: "POST",
            url: "/admin/create",
            data: data,
            error: function(request) {
                console.log('ajax error')
            },
            success: function(message) {
                alert('updata success')
                window.location.href = "/admin/dashboard"
            }
        })
    })
    */
</script>
</html>